<html>
    <head>
        <title>WordBot</title>
        <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">

        <script>
            // $(function() {
            //     $('#w1').autocompleter({
            //         source: colors,
            //         //hint: true,
            //         empty: false,
            //         // customLabel: "word",
            //         // customValue: "code",
            //         //highlightMatches: true,
            //         template: '{{ label }} <span>({{ hex }})</span>',
            //     })

            //     console.log(data.slice(1, 100))
            // //     $("#w1").easyAutocomplete(options);
            // //     $("#w2").easyAutocomplete(options);

        </script>
    </head>
    <body>
        <form>
            <div class="container">
                <div class="bubble bubble-left">
                    Hey <span style="color:#5B79B5">WordBot</span>!
                </div>
                <div class="bubble bubble-right" align="right">
                    <img src="{{url_for('static', filename='bot.png')}}" height="35" style="float:left"/>Hi there! I understand the semantic meaning of words. Ask me a question. 
                </div>
                <div class="bubble bubble-left formula">
                    <span>What is</span>
                    <span class="input">
                        <input id="w1" class="word" type="text" contenteditable="true" />
                        <span class="letter">+</span>
                        <input id="w2" class="word" type="text" contenteditable="true"/>
                        <span class="letter">?</span>
                    </span>
                </div>
                <div align="right">
                    <div id="ans-container" class="bubble bubble-right">
                        <img src="{{url_for('static', filename='bot.png')}}" height="35" style="float:left"/>I think <b><u id="w1-ans"></u></b> + <b><u id="w2-ans"></u></b> equals:
                        <ol id="ans">
                            <li>a</li>
                            <li>b</li>
                        </ol>
                    </div>
                </div>
            </div>
            <input id="submit" type="submit" value="Calculate" />
        </form>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="{{url_for('static', filename='autocompleter.js')}}"></script>
        <script>
            var data = {{data|tojson}}
        </script>
        <script src="{{url_for('static', filename='script.js')}}"></script>
    </body>
</html>